# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
svg_in/*
!svg_in/.gitkeep
png_out/*
!png_out/.gitkeep

# OS specific
.DS_Store
Thumbs.db 